@import "normalize.css";

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header,
footer {
  background-color: #631d59;
  color: #fff;
}
header a,
footer a {
  color: #fff;
}

header h1,
footer p {
  text-align: center;
}

.controls {
  text-align: center;
}

main #local-preview video,
main #local-preview canvas,
main #local-preview .controls {
  display: block;
  width: 300px;
  margin: 0 auto 1em;
}

#audio-preview {
  height: 100px;
  width: 50px;
  position: relative;
}

#audio-preview > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
  background-color: #663399;
}

/* reactions */

#participants > li {
  position: relative;
}
.reaction {
  position: absolute;
  top: 8px;
  left: 8px;
}

.reaction.size-1 {
  font-size: 2em;
}
.reaction.size-2 {
  font-size: 3em;
}
.reaction.size-3 {
  font-size: 4em;
}
.reaction.size-4 {
  font-size: 6em;
}
.reaction.size-5 {
  font-size: 8em;
}
